*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
} 

#carousel{
    position: relative;
    height: 600px;
    width: 1000px;
    margin-top: 30px;
}
#images-container{
    position: relative;
}
.image{
    display: none;
}
.img{
    height: 600px;
    width: 1000px;
}
.thumbnails-img{
    width: calc(100%/5);
    height: 100px;
    filter: brightness(0.5);
}
#thumbnails-container{
    display: flex;
}

.photo-description{
    position: absolute;
    top: 20px;
    right: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
    text-shadow: 2px 2px 4px black;

}
.buttons{
    position: absolute;
    bottom: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    color: black;
}
#previous{
    font-size: 30px;
    cursor: pointer;
}
#next{
    font-size: 30px;
    cursor: pointer;
}
.d-none{
    display: none;
}
.d-active{
    display: block;
}
.thumbnails-d-active{
    filter: brightness(1.0);
}